@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Open+Sans:ital@1&family=Roboto&family=Sirin+Stencil&display=swap');
/* Imported fonts rules
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sirin Stencil', cursive;
  font-family: monospace;
*/

*{box-sizing: border-box;}

body,html {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
